[x-cloak] { display: none }
.model-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 99999;
    top: 0;
    left: 0;
}
.modal-one{
    width: 100%;
    max-width: 45%;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    position: fixed;
    top: 16px;
    height: 90vh;
    right: 30%;
    overflow: hidden;
    z-index: 99999;
}
.modal-two{
    right: 0px;
    width: 100%;
    max-width: 30%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    top: 0px;
}
